html, body {
  max-width: 100%;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
}

textarea{
  resize: none;
}

.content-wrapper {
  background-color: #011627;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23005959' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23006c6c' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23005959' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23006c6c' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23007f7f' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%2384291a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23a0321f' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23bc3b25' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23a0321f' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%2384291a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23bc3b25' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%2384291a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23bc3b25' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23a0321f' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23bc3b25' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-animation: slide 60s linear infinite;
}

@-webkit-keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -100% 0; }
}

.banner-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

.banner-title {
  font-family: 'Nunito';
  color: white;
  font-size: 34px;
  text-align: center;
}

h3.banner-social-title {
  font-family: 'Nunito';
  color: white;
  margin: 15px 0;
  font-size: 28px;
  text-align: center;
  font-weight: 100;
}

.banner-description {
  font-family: 'Nunito';
  color: white;
  margin: 15px 0;
  font-size: 32px;
  text-align: left;
  font-weight: 100;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {

    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {

    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.scroll-arrow {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  z-index: 3;
}

.scroll-text {
  margin-bottom: 10px;
  color: #ffffff;
  font-family: 'Nunito';
}

img.arrow-down {
  width: 30px;
  height: 30px;

  -webkit-transform: translatey(0px);
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
  cursor: pointer;
}

.lang-selector {
  position: absolute;
  top: 15px;
  right: 30px;
  padding: 8px 7px;
  z-index: 3;
}

.lang-btn {
  padding: 5px 8px;
  color: #fff;
  font-family: 'Nunito';
  transition: .2s;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid white;
}

.lang-btn:first-child {
  border-right: .5px solid white;
  padding-right: 10px;
  border-radius: 30% 0% 0% 30%;
}

.lang-btn:last-child {
  border-left: .5px solid white;
  border-radius: 0% 30% 30% 0%;
}

.lang-btn.active{
  color: #bc3b25;
  border-color: rgba(255,255,255,1);
  background: rgba(255,255,255,0.5);
}


.lang-btn:hover {
  color: #BC3B25;
  border-color: #BC3B25;
}

.main-banner-content {
  width: 90%;
  height: 100vh;
  max-width: 1440px;
  padding: 120px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 auto;
}

.main-banner-content img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a.social-item-landing, a.social-item-landing img{
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

a.social-item-landing img {
  border-radius: 0;
}



@media(max-width: 1024px){
  .banner-title, h3.banner-social-title {
    font-size: 28px;
  }

  .main-banner-content {
    padding: 120px 40px;
  }

}

@media(max-width: 768px){
  .banner-title, h3.banner-social-title {
    font-size: 24px;
  }

  .lang-selector {
    top: 8px;
    right: 5px;
  }

  .main-banner-content {
    padding: 120px 20px;
    align-items: center;
  }

  .banner-description {
    font-size: 24px;
    text-align: center;
  }


}

@media(max-width: 480px){
  .banner-title, h3.banner-social-title {
    font-size: 20px;
  }

  .scroll-text{
    font-size: 14px;
  }

  img.arrow-down {
    width: 20px;
    height: 20px;
  }

  .main-banner-content {
    padding: 140px 0px;
  }

  .banner-description {
    font-size: 22px;
  }

  @-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -480px 0; }
  }
}

@media(max-width: 320px){
  .banner-title, h3.banner-social-title {
    font-size: 18px;
  }

  .banner-description {
    font-size: 18px;
  }

    @-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -320px 0; }
  }
}