section.portfolio {
  width: 100%;
  height: auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #007F7F;
}

h1.title-portfolio {
  font-size: 42px;
  color: #fff;
  font-family: 'Nunito';
  font-weight: 100;
  margin: 0;
  margin-bottom: 30px;
}

.portfolio-wrapper {
  width: 90%;
  max-width: 1024px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.portfolio-wrapper ul li {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  margin-bottom: 140px;
}

.portfolio-wrapper ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.portfolio-wrapper ul li img {
  height: 250px;
}

.portfolio-content-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.portfolio-title{
  font-size: 26px;
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-family: 'Nunito';
  font-weight: 100;
}

.portofolio-description {
  flex: .9;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tech-wrapper {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

span.tech-bubble {
  border: 1px solid #fff;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: 'Nunito';
  font-weight: 100;
  font-size: 16px;
  color: #fff;
}

a.portfolio-link {
  font-family: 'Nunito';
  font-weight: bold;
  padding: 10px 0;
  display: block;
}

.github-wrapper {
  max-width: 860px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

a.git-link img {
  width: 100px;
  height: 100px;
  margin-top: 15px;
}

.github-wrapper a {
  text-decoration: none;
}

p.portfolio-description-text {
  color: #fff;
  font-family: 'Nunito';
  font-weight: 100;
  font-size: 16px;
  white-space: pre-wrap;
}

@media(max-width: 1024px){

  section.portfolio{
    padding: 40px 0;
  }
}

@media(max-width: 864px){
  .portfolio-wrapper ul li{
    align-items: center;
  }

  .portfolio-title{
    margin-bottom: 15px;
  }

  .portfolio-content-item {
    flex-direction: column;
    align-items: center;
  }

  .portofolio-description {
    flex-direction: column-reverse;
  }

  .portfolio-wrapper ul li img {
    height: 200px;
  }

  .portfolio-wrapper ul li {
    margin-bottom: 70px;
  }

  h1.title-portfolio{
    font-size: 30px;
  }
}

@media(max-width: 640px){
  .portfolio-wrapper ul li {
    margin-bottom: 40px;
  }

  .portofolio-description {
    width: 100%;
  }

  .portfolio-title{
    font-size: 20px;
  }

  span.tech-bubble {
    font-size: 14px;
  }

  section.portfolio{
    padding: 30px 0;
  }


  a.git-link img {
    width: 80px;
    height: 80px;
  }

    h1.title-portfolio{
    font-size: 28px;
  }
}

@media(max-width: 480px){

  span.tech-bubble {
    font-size: 12px;
  }

  .portfolio-title{
    font-size: 18px;
  }

  section.portfolio{
    padding: 20px 0;
  }
  
  .portfolio-wrapper ul li img {
    height: 150px;
  }

  .portfolio-wrapper ul li {
    margin-bottom: 30px;
  }
}