html, body {
  max-width: 100%;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
}

textarea{
  resize: none;
}

.banner-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.banner-title {
  font-family: 'Raleway';
  color: white;
  font-size: 34px;
  text-align: center;
  height: 54px;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {

    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {

    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.scroll-arrow {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  z-index: 3;
}

.scroll-text {
  margin-bottom: 10px;
  color: #ffffff;
  font-family: 'Raleway';
}

img.arrow-down {
  width: 30px;
  height: 30px;

  -webkit-transform: translatey(0px);
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
  cursor: pointer;
}

.lang-selector {
  position: absolute;
  top: 15px;
  right: 30px;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 8px 7px;
  z-index: 3;
}

.lang-btn {
  padding: 8px;
  color: #ffffff;
  font-family: 'Raleway';
  transition: .2s;
  cursor: pointer;
}

.lang-btn:first-child {
  border-right: 1px solid #fff;
  padding-right: 10px;
}

.lang-btn:hover {
  color: #000000;
}

.main-banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.main-banner-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  -webkit-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.19);
  -moz-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.19);
  box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.19);
}

.bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media(max-width: 1024px){
  .banner-title {
    font-size: 28px;
  }
}

@media(max-width: 768px){
  .banner-title {
    font-size: 24px;
  }
}

@media(max-width: 480px){
  .banner-title {
    font-size: 20px;
  }

  .scroll-text{
    font-size: 14px;
  }

  img.arrow-down {
    width: 20px;
    height: 20px;
  }
}

@media(max-width: 320px){
  .banner-title {
    font-size: 18px;
  }
}