.about-me {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 120px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #011627;
}

.skills-wrapper {
  max-width: 960px;
  width: 90%;
  padding: 50px 0;
}

.skills-content p {
  color: white;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Nunito';
  margin: 0;
  white-space: pre-wrap;
}

h3.skills-title {
  font-size: 32px;
  color: #BC3B25;
  font-family: 'Nunito';
  font-weight: 100;
  margin: 20px 0;
}

.skills-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.skills-category-title {
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Nunito';
}

.skills-category ul {
  list-style-type: none;
  padding: 0;
  padding-left: 15px;
  width: 150px;
}

.skills-category ul li{
  color: white;
  font-size: 14px;
  font-weight: 100;
  font-family: 'Nunito';
  margin: 7px 0;
  text-indent: -10px;
}

@media(max-width: 1024px){
  .about-me{
    padding: 60px 80px;
  }
}

@media(max-width: 768px){
  .about-me{
    padding: 30px 40px;
  }

  .skills-wrapper {
    padding: 20px 0;
  }
}

@media(max-width: 480px){
  .about-me{
    padding: 20px 0px;
  }

  .skills-content {
    flex-direction: column;
  }

  .skills-category {
    width: 100%;
  }

  .skills-category ul {
    list-style-type: none;
    padding: 0;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 25px;
  }

  .skills-category ul li {
    padding-right: 15px;
  }
}

